<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">
		<!--linux ${basedir}/log/${shortdate}-info.log-->
		<!-- 100 MB-->
		<target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="100000000"  name="target1" fileName="${basedir}/log/${shortdate}-warn.log">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="methodName" layout="${callsite}" />
				<attribute name="line" layout="${callsite-linenumber}" />
				<attribute name="message" layout="${message}" />
			</layout>
		</target>
		
		<!--linux ${basedir}/log/${shortdate}-info.log-->
		<target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="100000000"  name="target2" fileName="${basedir}/log/${shortdate}-info.log">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="methodName" layout="${callsite}" />
				<attribute name="line" layout="${callsite-linenumber}" />
				<attribute name="message" layout="${message}" />
			</layout>
		</target>
		
		<!--linux ${basedir}/log/${shortdate}-debug.log-->
		<target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="100000000"  name="target3" fileName="${basedir}/log/${shortdate}-debug.log">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="methodName" layout="${callsite}" />
				<attribute name="line" layout="${callsite-linenumber}" />
				<attribute name="message" layout="${message}" />
			</layout>
		</target>
		
		<!--linux ${basedir}/log/${shortdate}-error.log-->
		<target xsi:type="File" archiveNumbering="DateAndSequence" archiveAboveSize="100000000"  name="target4" fileName="${basedir}/log/${shortdate}-error.log">
			<layout xsi:type="JsonLayout">
				<attribute name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ffffff}" />
				<attribute name="level" layout="${level:uppercase=true}" />
				<attribute name="methodName" layout="${callsite}" />
				<attribute name="line" layout="${callsite-linenumber}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=ToString}" />
			</layout>
		</target>

		
		<!--<target xsi:type="File" name="target4" fileName="${basedir}/log/error-${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${callsite}:[${callsite-linenumber}] - ${message}"/>-->

		<!--${callsite:className=Boolean:fileName=Boolean:includeSourcePath=Boolean:methodName=Boolean}-->
		<!--${callsite:className=true:methodName:true:fileName=true:includeSourcePath=false} - ${message} ${exception:format=tostring}-->
		<!--${callsite}:line ${callsite-linenumber}-->

	</targets>

	<rules>
		<!--Bỏ qua k ghi những thông tin về hệ thống mặc định-->
		<logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />
		<logger name="Microsoft.*" minlevel="Debug" writeTo="" final="true" />

		<logger name="*" levels="Warn" writeTo="target1" final="true" />
		<logger name="*" levels="Info" writeTo="target2" final="true" />
		<logger name="*" levels="Debug" writeTo="target3" final="true" />
		<logger name="*" levels="Error" writeTo="target4" final="true" />

	</rules>
</nlog>


